In [1]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: numpy>=1.16.2 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: joblib>=0.13.2 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.0.0)
Requirement already satisfied: pandas>=0.24.2 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: setuptools in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: scipy>=1.2.1 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: scikit-learn>=0.20.3 in e:\users\acer\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: python-dateutil>=2.1 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.1.0)
Requirement already satisfied: certifi>=2020.06.20 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.12.5)
Requirement already satisfied: cycler>=0.10 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in e:\users\acer\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: six in e:\users\acer\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in e:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\users\acer\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
from mlxtend.frequent_patterns import apriori

In [ ]:
dataset=[['Drink','Nuts','Diaper'],
        ['Drink','Coffee','Diaper'],
        ['Drink','Diaper','Eggs'],
        ['Nuts','Eggs','Milk'],
        ['Nuts','Coffee','Diaper','Eggs','Milk']]

In [5]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

In [8]:
import pandas as pd

from  mlxtend.preprocessing import TransactionEncoder

TranEncode = TransactionEncoder()

te_ary = TranEncode.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=TranEncode.columns_)

In [9]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

let us return items and itemsets with

In [20]:
apriori(df, min_support=0.6)

   support itemsets
0      0.8      (1)
1      0.6      (2)
2      0.6      (3)
3      0.6      (5)
4      0.6   (1, 2)

In [19]:
apriori(df, min_support=0.6, use_colnames = True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Drink, Diaper)

In [22]:
frequnt_itemsets = apriori(df,min_support=0.2,use_colnames=True)
frequnt_itemsets['length']= frequnt_itemsets['itemsets'].apply(lambda x : len(x))
frequnt_itemsets

    support                            itemsets  length
0       0.4                            (Coffee)       1
1       0.8                            (Diaper)       1
2       0.6                             (Drink)       1
3       0.6                              (Eggs)       1
4       0.4                              (Milk)       1
5       0.6                              (Nuts)       1
6       0.4                    (Coffee, Diaper)       2
7       0.2                     (Drink, Coffee)       2
8       0.2                      (Coffee, Eggs)       2
9       0.2                      (Coffee, Milk)       2
10      0.2                      (Coffee, Nuts)       2
11      0.6                     (Drink, Diaper)       2
12      0.4                      (Diaper, Eggs)       2
13      0.2                      (Diaper, Milk)       2
14      0.4                      (Diaper, Nuts)       2
15      0.2                       (Drink, Eggs)       2
16      0.2                       (Drink, Nuts)       2
17      0.4                        (Milk, Eggs)       2
18      0.4                        (Eggs, Nuts)       2
19      0.4                        (Milk, Nuts)       2
20      0.2             (Drink, Coffee, Diaper)       3
21      0.2              (Coffee, Eggs, Diaper)       3
22      0.2              (Coffee, Milk, Diaper)       3
23      0.2              (Nuts, Coffee, Diaper)       3
24      0.2                (Milk, Coffee, Eggs)       3
25      0.2                (Coffee, Eggs, Nuts)       3
26      0.2                (Coffee, Milk, Nuts)       3
27      0.2               (Drink, Diaper, Eggs)       3
28      0.2               (Drink, Diaper, Nuts)       3
29      0.2                (Milk, Diaper, Eggs)       3
30      0.2                (Diaper, Eggs, Nuts)       3
31      0.2                (Diaper, Milk, Nuts)       3
32      0.4                  (Milk, Eggs, Nuts)       3
33      0.2        (Milk, Coffee, Eggs, Diaper)       4
34      0.2        (Nuts, Coffee, Eggs, Diaper)       4
35      0.2        (Nuts, Coffee, Milk, Diaper)       4
36      0.2          (Milk, Coffee, Eggs, Nuts)       4
37      0.2          (Milk, Diaper, Eggs, Nuts)       4
38      0.2  (Coffee, Milk, Diaper, Eggs, Nuts)       5

In [29]:
frequnt_itemsets[ (frequnt_itemsets['length'] == 5)&

                  (frequnt_itemsets['support'] >= 0.2)]

    support                            itemsets  length
38      0.2  (Coffee, Milk, Diaper, Eggs, Nuts)       5

In [34]:
frequnt_itemsets[ frequnt_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

    support         itemsets  length
11      0.6  (Drink, Diaper)       2

In [38]:
x=frequnt_itemsets[ frequnt_itemsets['itemsets'] == {'Diaper', 'Drink'} ]
print(x['support'])

11    0.6
Name: support, dtype: float64

In [43]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequnt_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Coffee),(Diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf
1,(Drink),(Diaper),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(Diaper),(Drink),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Milk),(Eggs),0.4,0.6,0.4,1.00,1.666667,0.16,inf
4,(Milk),(Nuts),0.4,0.6,0.4,1.00,1.666667,0.16,inf
...,...,...,...,...,...,...,...,...,...
67,"(Diaper, Eggs, Nuts)","(Coffee, Milk)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
68,"(Coffee, Milk)","(Diaper, Eggs, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
69,"(Coffee, Eggs)","(Diaper, Milk, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
70,"(Coffee, Nuts)","(Diaper, Milk, Eggs)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
71,"(Diaper, Milk)","(Coffee, Eggs, Nuts)",0.2,0.2,0.2,1.00,5.000000,0.16,inf